@media screen and (width<500px){
    #services .card{
        width: 20rem !important;
    }
    #projects .card{
        width: 20rem !important;
    }
    .col-md-6 .card-body {
        padding: 2rem 0rem !important;
    }
    .col-md-5 .card-body {
        padding: 2rem 0rem !important;
    }
    .container1 img {
        height: 18rem !important;
    }
    #contact form{
        width: 100% !important;
    }
    .pic img {
        width: 17rem !important;
        object-fit: contain;
    }
}